<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merge</title>
</head>
<body>
    <li><a href="tag">Picture Tagging Mode</a></li>
    <li><a href="merge">Merging Session Keys</a> </li>
    <li><a href="export">Download Session Keys as CSV</a></li>
    <li><a href="rename">Rename</a> </li>
<form>
    {% for session_key in persons %}
        <h6>{{ session_key }}</h6>
        {% for person in persons[session_key] %}
            <label for="{{ person }}">
                <input type="checkbox" name="{{ person.name }}" value="merged" id="{{ person.name }}">
                <a href="/private-pictures/{{ person.name }}">{{ person.name }}</a> ({{ person.count }}) {{ session_key }}
            </label><br>
        {% endfor %}
    {% endfor %}
    <button type="submit">Assing same session key</button>
</form>

</body>
</html>